<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="Layout" value="${longdate}&#9;${threadid}&#9;${level}&#9;${message}${exception:format=toString}"/>
  <variable name="LogsDir" value="${basedir}\App_Data\Logs\"/>
  <targets>
    <target name="File" xsi:type="File"
      fileName="${LogsDir}${date:format=yyyyMMdd}.log" layout="${Layout}"
      archiveEvery="day"
      maxArchiveFiles="30"
      archiveFileName="${LogsDir}{#}.log"
      archiveDateFormat="yyyyMMdd"
      archiveNumbering="Date"
      />
  </targets>
  <rules>
	<logger name="*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>
